Package: com.b01s.swipe2viewaccounts
Name: Swipe2ViewAccounts
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Easily view your accounts in Twitter app.
Maintainer: b01s <b01s2791@gmail.com>
Author: b01s <b01s2791@gmail.com>
Section: Tweaks
